@import 'sass';

.BrowseHeader {
	@include flex-col-center-center;
	margin-top: map-get($sizes, sizes_nav_dt_short);
	background-color: map-get($colors, color_primaryPale);
	min-height: 400px;

	h1 {
		@include banner-txt-default;
	}
}
