@import 'sass';

.Wrapper {
	min-height: 500px;
	margin-top: map-get($sizes, sizes_nav_height);

	.BrowseHeader {
		@include flex-center-center;
		height: 400px;
		background-color: map-get($colors, color_secondary);
		h1 {
			color: white;
			@include banner-txt-default;
		}
	}
}
