@import 'sass';

.Wrapper {
	@include shadow-dark-soft;
	min-height: 100vh;
	width: 100vw;
	background-color: map-get($colors, color_defaultBlack);
	position: relative;

	.Top {
		@include flex-center-center;
		position: inherit;
		z-index: 101;
		min-height: 60vh;
		padding: 0 0 100px 0;
		box-sizing: border-box;

		.ProfilePic {
			@include shadow-default;

			width: 100%;
			position: inherit;
			border-radius: 100%;
			max-width: 220px !important;
		}

		.Text {
			h1,
			p {
				color: white;
			}

			span {
				font-weight: 800;
			}

			h1 {
				@include banner-txt-default;
			}
			p {
				@include p-default;
				width: 75%;
				letter-spacing: 2px;
				font-weight: 100 !important;
			}
		}
	}

	.Bottom {
		background-color: map-get($colors, color_primary);
		height: 40vh;
		padding: 20px 15px;
		.Buttons {
			@include flex-center-center;
		}
	}
}
