@import 'sass';

.Wrapper {
	@include shadow-dark-soft;
	min-height: 100vh;
	width: 100vw;
	background-color: map-get($colors, color_defaultBlack);
	position: relative;

	.Top {
		@include flex-end;
		position: inherit;
		z-index: 100;
		min-height: 60vh;
		padding: 0 0 130px 0;
		box-sizing: border-box;

		.ProfilePic {
			img {
				@include shadow-default;
				width: 100%;
				position: inherit;
				border-radius: 100%;
				max-width: 220px !important;
				img {
					margin: 0 auto !important;
				}
			}
		}

		.Text {
			h1,
			p {
				color: white;
			}

			span {
				font-weight: 800;
			}

			h1 {
				@include banner-txt-default;
			}
			p {
				@include p-default;
				width: 75%;
				letter-spacing: 2px;
				font-weight: 100 !important;
			}
		}
	}

	.Bottom {
		background-color: map-get($colors, color_primary);
		height: 40vh;
		padding: 20px 15px;

		.Buttons {
			@include flex-center-center;
		}
	}

	// ================
	// >> TABLET
	// ================
	@media #{map-get($media, tablet_max)} {
		.Top {
			.ProfilePic {
				@include flex-center-center;
				img {
					max-width: 180px !important;
				}
			}

			.Text {
				text-align: center;
				p {
					width: 100%;
				}
			}
		}
	}

	// ================
	// >> MOBILE
	// ================
	@media #{map-get($media, mobile)} {
		.Top {
			.ProfilePic {
				margin-top: 50px !important;
			}
		}
		.Bottom {
			.Buttons {
				@include flex-col-center;
			}
		}
	}
}
