$colors: (
	// --> Theme
	color_primary: #ffe66d,
	color_primaryPale: #f7e486,
	color_primaryTransp: #ffe76dca,
	color_primaryDark: #f5db55,
	color_primaryAlt: #eee959,
	color_secondary: #6ca6c1,
	color_secondaryPale: #7eb0c7,
	color_secondaryTransp: #6ca6c1ce,
	// --> Generics
	color_red: #f63150cc,
	color_redHover: #ee1414cc,
	color_green: #4ebf62,
	color_greenHover: #23b828,
	color_ratingYellow: #ffc225,
	// --> Shades
	color_defaultBlack: #31393c,
	color_themeBlack: #585858,
	color_themeWhite: #f2f2f2,
	// --> Brands
	color_spotify: #1db954,
	color_facebook: #3b5998,
	color_google: #eaeaea,
	color_yelp: #c41200d1
);

@each $colorName, $color in $colors {
	:export {
		#{$colorName}: #{map-get($colors, #{$colorName})};
	}
}
