@import 'sass';

.Wrapper {
	@include flex-center-center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	h1 {
		@include banner-txt-default;
	}

	p {
		@include p-default;
	}

	&[data-bottom-border='1'] {
		border-bottom: solid 2px map-get($colors, color_themeBlack);
	}
}
