@import 'sass';

.Container {
	padding: 20px 0;

	.Description {
		padding: 10px 20px;
		p {
			@include p-default;
		}
	}

	.MockupThumbnail {
		@include hover-cursor;
		transition: 0.18s;
		&:hover {
			transform: scale(1.025);
			@include shadow-default;
		}
	}
}
